/* Navar */
.escudo {
  height: 130px;
}

.sobre-la-academia {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.sobre-la-academia h3 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  color: rgb(255, 255, 255);
  align-self: center;
  justify-self: center;
  font-size: 80px;
}
.sobre-la-academia p {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  text-align: center;
  align-self: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.sobre-la-academia img {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}
.foto-academia {
  height: auto;
}

/* Footer */
.redes {
  display: flex;
  justify-content: center;
  justify-self: end;
  align-self: center;
  gap: 15px;
  margin-right: 50px;
}

.escudo-footer {
  height: 150px;
}
.infoFooter {
  display: flex;
  align-self: center;
  justify-self: center;
}
.infoFooter ul {
  list-style: none;
  width: 100%;
  gap: 10px;
}
.infoFooter ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.pieDePafina {
  background-color: rgb(67, 67, 67);
}
.numeroTelefono {
  color: royalblue;
}
