@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive-img-cover($height: 100vh) {
  width: 100%;
  height: $height;
  object-fit: cover;
  filter: brightness(60%);
}

@mixin titulo-principal {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  color: rgb(241, 241, 241);
}

@mixin boton-principal($bg-color: rgb(5, 97, 151), $hover-color: #0aa1c2) {
  background-color: $bg-color;
  color: white;
  padding: 0.75rem 1.5rem;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}
