$primary-color: rgb(5, 97, 151);
$light-color: #ffffff;
$dark-color: #333333;
$highlight-color: #ffc107;

$font-titulo: "prometo trial titulos", sans-serif;
$font-texto: "prometo trial subtitulos", sans-serif;

$font-stack: "prometo trial subtitulos", "prometo trial titulos";
