$primary-color: rgb(5, 97, 151);
$light-color: #ffffff;
$dark-color: #000000;
$highlight-color: #ffc107;

// tipografia
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,800;1,800&family=Rajdhani:wght@300;400;500;600;700&display=swap");

$font-logo: "Rajdhani", sans-serif;
$font-navbar: "Rajdhani", sans-serif;
$font-titulo: "Exo 2", sans-serif;
$font-texto: "Rajdhani", sans-serif;
