.ubicacion {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: "Segoe UI", sans-serif;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 4px black;
  }
}

.info-contacto {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  p {
    margin: 10px 0;
    font-size: 1.1rem;
    i {
      margin-right: 8px;
      color: #ffcc00;
    }
  }
}

.btn-mapa {
  display: inline-block;
  margin-top: 0px;
  padding: 10px 20px;
  background: #ffcc00;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn-mapa:hover {
  background: #e6b800;
}

.mapa-contenedor {
  position: static;
  justify-self: center;
  bottom: 20px;
  left: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

/* Responsivo */
@media (max-width: 768px) {
  .mapa-contenedor iframe {
    width: 90vw;
    height: 250px;
  }

  .titulo {
    font-size: 1.8rem;
  }

  .info-contacto {
    font-size: 0.95rem;
    padding: 15px 20px;
  }
}
@media (max-width: 768px) {
  .mapa-contenedor {
    position: static;
    transform: none;
    margin-top: 20px;
  }
}
