@use "../utilities/mixins" as mix;
@use "../utilities/variables" as var;

.sobreNosotros {
  position: relative;
  overflow: hidden;
  color: firebrick;
  @include mix.center-flex;
  flex-direction: column;
  padding: 3rem 1rem;
  min-height: 100vh;
  text-align: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include mix.responsive-img-cover;
  }

  h3 {
    @include mix.titulo-principal;
    z-index: 1;
    margin-bottom: 1rem;
  }

  p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: var.$font-texto;
    max-width: 800px;
    z-index: 1;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }
}
