@use "../utilities/mixins" as mix;
@use "../utilities/variables" as var;

.carousel {
  .carousel-item {
    img.carousel-img {
      @include mix.responsive-img-cover;
    }

    .carousel-caption {
      @include mix.center-flex;
      flex-direction: column;
      bottom: 21%;

      button {
        @include mix.boton-principal;
      }

      .fraseCarousel {
        font-family: var.$font-texto;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        color: white;
        margin-top: 1.5rem;
        padding: 0 1rem;
        border-radius: 15px;
      }
    }
  }
}
