@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;

nav.navbar {
  background-color: #f8f9fa;

  .container-fluid {
    @include mix.center-flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .escudo {
      height: 130px;
    }

    .navbar-brand {
      font-family: var.$font-titulo;
      font-size: 1.8rem;
      font-weight: bold;

      .inicialExodo {
        color: var.$primary-color;
      }
    }

    .navbar-nav {
      .nav-item {
        margin-left: 10px;

        .nav-link {
          font-family: var.$font-texto;
          font-weight: bold;
          color: var.$dark-color;
          transition: color 0.3s ease;

          &:hover,
          &.active {
            color: var.$primary-color;
          }
        }
      }
    }
  }
}
