/* Navar */
.escudo {
  height: 130px;
}
.textoNavbar {
  font-family: "prometo trial titulos", sans-serif, bold italic;
}
.textoItem {
  font-family: "prometo trial subtitulos", sans-serif, bold italic;
}

.inicialExodo {
  color: rgb(5, 97, 151);
}
