/* Fuentes */

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-BlackItalic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Black.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Light.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-BoldItalic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Italic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Bold.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Regular.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Thin.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-LightItalic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-MediumItalic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-Medium.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("../../fonts/PrometoTrial-ThinItalic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial XBold";
  src: url("../../fonts/PrometoTrial-XBold.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-XBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial XBold";
  src: url("../../fonts/PrometoTrial-XBoldItalic.woff2") format("woff2"),
    url("../../fonts/PrometoTrial-XBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
