/* Fuentes */
@font-face {
  font-family: "prometo trial titulos";
  src: url("../../fonts/prometo-trial/Prometo_Trial_XBd.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "prometo trial subtitulos";
  src: url("../../fonts/prometo-trial/Prometo_Trial_Md.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
