/* Fuentes */
@font-face {
  font-family: "prometo trial titulos";
  src: url("../../fonts/prometo-trial/Prometo_Trial_XBd.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "prometo trial subtitulos";
  src: url("../../fonts/prometo-trial/Prometo_Trial_Md.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-BlackItalic.woff2") format("woff2"),
    url("PrometoTrial-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Black.woff2") format("woff2"),
    url("PrometoTrial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Light.woff2") format("woff2"),
    url("PrometoTrial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-BoldItalic.woff2") format("woff2"),
    url("PrometoTrial-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Italic.woff2") format("woff2"),
    url("PrometoTrial-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Bold.woff2") format("woff2"),
    url("PrometoTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Regular.woff2") format("woff2"),
    url("PrometoTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Thin.woff2") format("woff2"),
    url("PrometoTrial-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-LightItalic.woff2") format("woff2"),
    url("PrometoTrial-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-MediumItalic.woff2") format("woff2"),
    url("PrometoTrial-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-Medium.woff2") format("woff2"),
    url("PrometoTrial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial";
  src: url("PrometoTrial-ThinItalic.woff2") format("woff2"),
    url("PrometoTrial-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial XBold";
  src: url("PrometoTrial-XBold.woff2") format("woff2"),
    url("PrometoTrial-XBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prometo Trial XBold";
  src: url("PrometoTrial-XBoldItalic.woff2") format("woff2"),
    url("PrometoTrial-XBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
